apiVersion: v1
kind: Service
metadata:
  name: $NAME$
  namespace: $NAMESPACE$
spec:
  selector: $SELECTOR$
  ports: $PORTS$
  $CLUSTER_IP$
  $EXTERNAL_TRAFFIC_POLICY$
  $HEALTH_CHECK_NODE_PORT$
  type: LoadBalancer