- name: $CONTAINER_NAME$
  image: $IMAGE$
  imagePullPolicy: $IMAGE_PULL_POLICY$
  securityContext:
      allowPrivilegeEscalation: false
      capabilities:
          add: []
  $COMMAND$
  $ARGUMENTS$
  $RESOURCES$
  $CONTAINER_PORT$
  $VOLUME_MOUNTED$
  $IMAGE_PULL_SECRETS$
  $ENVIRONMENT_VAR$
  $VOLUMES$